* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  list-style: none;
  outline: none;
}

@font-face {
  font-family: "Inter", sans-serif;
  src: url(../font/static/Inter-Bold.ttf) format(ttf), url(../font/static/Inter-Light.ttf) format(ttf), url(../font/static/Inter-Regular.ttf) format(ttf), url(../font/static/Inter-Medium.ttf) format(ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter", sans-serif;
  src: url(../font/static/Inter-Bold.ttf) format(ttf), url(../font/static/Inter-Light.ttf) format(ttf), url(../font/static/Inter-Regular.ttf) format(ttf), url(../font/static/Inter-Medium.ttf) format(ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter", sans-serif;
  src: url(../font/static/Inter-Bold.ttf) format(ttf), url(../font/static/Inter-Light.ttf) format(ttf), url(../font/static/Inter-Regular.ttf) format(ttf), url(../font/static/Inter-Medium.ttf) format(ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter", sans-serif;
  src: url(../font/static/Inter-Bold.ttf) format(ttf), url(../font/static/Inter-Light.ttf) format(ttf), url(../font/static/Inter-Regular.ttf) format(ttf), url(../font/static/Inter-Medium.ttf) format(ttf);
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "Inter", sans-serif;
}

#root {
  margin: 0 auto;
}

.success input {
  border: 2px solid hsl(187, 85%, 48%);
}

.error input {
  border: 2px solid red;
}

.error {
  font-size: 13px;
  color: red;
}

a {
  list-style: none;
  color: #989898;
}

.hamburger {
  display: none;
}

.signup {
  margin: 0 auto;
  height: 100vh;
  background: url("../images/banner.png") no-repeat;
  background-size: cover;
}
.signup span {
  display: flex;
  gap: 10px;
  font-size: 16px;
}
.signup form {
  background: white;
  width: 30%;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 200px;
  top: 130px;
  border-radius: 12px;
  padding: 30px;
  font-size: 20px;
  box-shadow: 1px 1px 2px rgb(23, 18, 18);
}
.signup form .input,
.signup form .inputpwd {
  border: 1px solid #DEE2E7;
  padding: 10px;
  border-radius: 6px;
  width: 100%;
}
.signup form .submit {
  background-color: #9ee3cf;
  color: black;
  width: 100%;
  padding: 10px;
  font-weight: 600;
  font-size: 18px;
  border-radius: 6px;
}

.signin {
  margin: 0 auto;
  height: 100vh;
  background: url("../images/banner.png") no-repeat;
  background-size: cover;
}
.signin span {
  display: flex;
  gap: 10px;
  font-size: 16px;
}
.signin form {
  background: white;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 12px;
  padding: 30px;
  position: absolute;
  top: 200px;
  left: 200px;
  box-shadow: 1px 1px 2px rgb(23, 18, 18);
}
.signin .input {
  border: 1px solid #DEE2E7;
  padding: 10px;
  border-radius: 6px;
  width: 100%;
}
.signin button {
  width: 100%;
  background-color: #9ee3cf;
  color: black;
  font-weight: bold;
  padding: 12px 8px;
  border-radius: 4px;
  margin: 20px 0;
}
.signin p {
  font-size: 20px;
}

.alert {
  display: flex;
  font-size: 15px;
  color: white;
  font-weight: 500;
}
.alert .alert-container {
  padding: 10px;
  margin: 0 auto;
  background-color: rgb(234, 60, 60);
  border-radius: 6px;
}
.alert .description {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.alert .symbol-close {
  color: black;
  margin-top: -21px;
}
.alert .title {
  font-weight: bold;
  font-size: 16px;
  color: blanchedalmond;
}

.joinbutton {
  background: linear-gradient(180deg, #127FFF 0%, #0067FF 100%);
  width: 180px;
  height: 30px;
  top: 50%;
  left: 75%;
  border-radius: 6px;
  padding: 0px 10px 0px 10px;
  color: white;
}
.joinbutton:hover {
  opacity: 0.5;
}

.loginbutton {
  background: linear-gradient(0deg, #DEE2E7, #DEE2E7), linear-gradient(0deg, #FFFFFF, #FFFFFF);
  border: 1px solid rgb(222, 226, 231);
  width: 180px;
  height: 30px;
  padding: 0px 10px 0px 10px;
  border-radius: 6px;
  color: rgb(13, 110, 253);
}
.loginbutton:hover {
  opacity: 0.5;
}

.banner1 {
  border-radius: 6px;
  background: rgb(243, 131, 50);
  color: rgb(255, 255, 255);
  padding: 12%;
}
.banner1 p {
  font-size: 16px;
  width: 160px;
  line-height: 0.8cm;
}

.banner2 {
  background: rgb(85, 189, 195);
  border-radius: 6px;
  color: rgb(255, 255, 255);
  padding: 12%;
}
.banner2 p {
  font-size: 16px;
  width: 160px;
  line-height: 0.8cm;
}

.dropdown {
  width: 120px;
  height: 40px;
  padding-top: 10px;
}
.dropdown label {
  width: 145px;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(28, 28, 28);
}

.learnbutton,
.sourcebutton,
.sourcebutton2 {
  width: 119px;
  height: 40px;
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  padding: 0px, 16px, 0px, 16px;
}
.learnbutton:hover,
.sourcebutton:hover,
.sourcebutton2:hover {
  opacity: 0.4;
}

.loginContainer {
  background: rgb(227, 240, 255);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}
.loginContainer .flex-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 200px;
}
.loginContainer .imgContainer {
  border-radius: 50%;
  display: flex;
  justify-content: flex-start;
  width: 20%;
  background-color: #a7cefc;
  margin: 0 auto;
}
.loginContainer .imgContainer p {
  flex-grow: 1;
  width: 112px;
  height: 38px;
  color: rgb(28, 28, 28);
}
.loginContainer .imgContainer img {
  display: block;
  width: 100%;
}
.loginContainer ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.navActions ul {
  display: flex;
  align-items: center;
  gap: 15px;
}
.navActions ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.navActions ul li p {
  color: #8B96A5;
  display: flex;
  align-items: center;
  font-size: 16px;
}
.navActions ul li .img_container {
  display: flex;
  gap: 10px;
  cursor: pointer;
  align-items: baseline;
  width: 20px;
  height: 20px;
}
.navActions ul li .img_container img {
  display: block;
  width: 100%;
}
.navActions ul li:hover {
  background-color: rgb(235, 230, 230);
  padding: 0 5px;
  color: white;
  border-radius: 4px;
}

.navContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
  height: 40px;
  border-radius: 6px;
  width: 100%;
  margin: 0 auto;
  cursor: pointer;
  padding-bottom: 50px;
}
.navContainer .search-items {
  border: 1px solid rgb(13, 110, 253);
  display: flex;
  justify-content: space-between;
  width: 60%;
  text-align: center;
  padding-left: 5px;
}
.navContainer .search-items .input {
  display: flex;
  align-items: center;
  height: 40px;
  top: 22px;
  left: 326px;
  padding-left: 10px;
  border-left: 1px solid rgb(13, 110, 253);
}
.navContainer .search-items .search {
  padding: 10px;
  text-align: left;
  width: 100%;
  font-size: 16px;
}

.searchbutton {
  background: linear-gradient(180deg, #127FFF 0%, #0067FF 100%);
  width: 100px;
  height: 40px;
  padding: 0px 10px 0px 10px;
  color: white;
}
.searchbutton:hover {
  opacity: 0.5;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
}
.sidebar ul::-webkit-scrollbar {
  display: none;
}
.sidebar ul li {
  line-height: 1.1cm;
  font-size: 18px;
  cursor: pointer;
  padding: 0 8px;
}
.sidebar ul li:hover {
  background-color: #e1f0ff;
  border-radius: 6px;
  padding: 0 8px;
}

.mainSection {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.bannerContact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.bannerContainer {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  border: 1px solid rgb(222, 226, 231);
  padding: 14px;
  border-radius: 6px;
  align-items: center;
}

.navbartwo {
  font-size: 16px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 90%;
  gap: 10px;
  cursor: pointer;
}
.navbartwo .left {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.navbartwo .right {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.count {
  border: 1px solid rgb(224, 224, 224);
  padding: 10px;
}
.count .countdown {
  width: 198px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}
.count .countdown p {
  margin-bottom: 10px;
  color: rgb(139, 150, 165);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
}
.count .countdowns {
  display: flex;
  gap: 15px;
  border-radius: 4px;
}
.count .countdowns .timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  border-radius: 4px;
  background: rgb(96, 96, 96);
  color: white;
}

.mask {
  position: relative;
}
.mask .bimg {
  position: relative;
}
.mask .bimg img {
  display: block;
  width: 100%;
}
.mask .maskinner {
  position: absolute;
  top: 90px;
  left: 60px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}

.items ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border: 1px solid rgb(224, 224, 224);
}
.items ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-left: 1px solid rgb(224, 224, 224);
  width: 236px;
}
.items ul li button {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: rgb(235, 0, 27);
  background: rgb(255, 227, 227);
  border-radius: 6px;
  padding: 3px 13px 4px 13px;
}
.items ul li .imgcontainer {
  width: 140px;
}
.items ul li .imgcontainer img {
  display: block;
  width: 100%;
}

.sectionSale {
  display: flex;
  width: 90%;
  margin: 0 auto;
  overflow-x: scroll;
}
.sectionSale::-webkit-scrollbar {
  display: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  overflow-x: scroll;
}
.grid-container::-webkit-scrollbar {
  display: none;
}

.sectionthre,
.sectionfour {
  display: flex;
  width: 90%;
  margin: 0 auto;
  overflow-x: scroll;
}
.sectionthre::-webkit-scrollbar,
.sectionfour::-webkit-scrollbar {
  display: none;
}
.sectionthre .grid-container,
.sectionfour .grid-container {
  position: relative;
}
.sectionthre .grid-container .grid-items,
.sectionfour .grid-container .grid-items {
  display: flex;
  padding: 20px;
  width: 310px;
  position: relative;
  height: 140px;
  border: 1px solid rgb(224, 224, 224);
  overflow-x: scroll;
}
.sectionthre .grid-container .grid-items::-webkit-scrollbar,
.sectionfour .grid-container .grid-items::-webkit-scrollbar {
  display: none;
}
.sectionthre .grid-container .grid-items .img-container img,
.sectionfour .grid-container .grid-items .img-container img {
  width: 80px;
  display: block;
}
.sectionthre .grid-container .grid-items img,
.sectionfour .grid-container .grid-items img {
  position: absolute;
  left: 160px;
  top: 35px;
}
.sectionthre .grid-container .grid-items h4,
.sectionfour .grid-container .grid-items h4 {
  position: absolute;
  top: 20px;
  font-size: 16px;
}
.sectionthre .grid-container .grid-items p,
.sectionfour .grid-container .grid-items p {
  position: absolute;
  top: 50px;
  width: 25%;
  color: gray;
}

.threeRight,
.fourleft {
  position: relative;
}
.threeRight .sourcebutton,
.fourleft .sourcebutton {
  position: absolute;
  top: 90px;
  left: 10px;
}
.threeRight h4,
.fourleft h4 {
  position: absolute;
  top: 20px;
  left: 13px;
  width: 70%;
  font-weight: 600;
  line-height: 26px;
  text-align: left;
  font-size: 20px;
}
.threeRight img,
.fourleft img {
  height: 280px;
}
.threeRight .sourcebutton2,
.fourleft .sourcebutton2 {
  position: absolute;
  top: 120px;
  left: 10px;
}

.sectionfive {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 90%;
  margin: 0 auto;
  background: linear-gradient(180deg, #127FFF 0%, #0067FF 100%);
}
.sectionfive img {
  opacity: 0.4;
  width: 90%;
}
.sectionfive .five {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  padding: 40px 30px;
  position: absolute;
}
.sectionfive .five h2 {
  line-height: 1cm;
}
.sectionfive .five p {
  width: 390px;
  height: 48px;
  line-height: 0.8cm;
}
.sectionfive .formm {
  position: absolute;
  right: 40px;
  top: 30px;
  width: 38%;
}

.forms .form1 {
  background: rgb(255, 255, 255);
  color: white;
  display: flex;
  gap: 20px;
  flex-direction: column;
  border-radius: 6px;
  padding: 20px;
  box-shadow: 0px 1px 2px 0px rgba(56, 56, 56, 0.25);
}
.forms .form1 .text {
  padding: 10px 14px;
  border: 1px solid rgb(230, 226, 226);
  width: 100%;
  border-radius: 4px;
}
.forms .form1 input::-moz-placeholder {
  color: black;
}
.forms .form1 input::placeholder {
  color: black;
}
.forms .form1 .send {
  color: white;
  background: linear-gradient(180deg, #127FFF 0%, #0067FF 100%);
  width: 28%;
  padding: 12px 18px;
  border-radius: 6px;
}
.forms .form1 h3 {
  font-size: 20px;
  font-weight: 600;
  width: 332px;
  color: black;
}
.forms .form1 .flex {
  display: flex;
  color: black;
  gap: 10px;
}
.forms .form1 textarea {
  height: 73px;
  border: 1px solid rgb(230, 226, 226);
  width: 100%;
}
.forms .form1 .quantity {
  border: 1px solid rgb(230, 226, 226);
  border-radius: 4px;
  padding: 12px 18px;
}
.forms .form1 label {
  width: 25%;
  padding: 8px 30px;
  border: 1px solid rgb(230, 226, 226);
  border-radius: 4px;
}
.forms .form1 select {
  padding-left: 25px;
}

.sectionSix {
  background-color: #DEE2E7;
  padding: 60px 0;
}
.sectionSix h3 {
  font-size: 20px;
  width: 90%;
  margin: 0 auto 20px;
}
.sectionSix ul {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
  gap: 20px;
  width: 90%;
  margin: 0 auto;
  overflow-x: scroll;
}
.sectionSix ul::-webkit-scrollbar {
  display: none;
}
.sectionSix ul .cartItems {
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 310px;
  border: 1px solid rgb(183, 181, 181);
  border-radius: 8px;
  background-color: #ffffff;
}
.sectionSix ul .cartItems p {
  color: linear-gradient(0deg, #E0E0E0, #E0E0E0);
  align-self: left;
  padding-left: 15px;
  width: 60%;
  color: rgb(139, 136, 136);
}
.sectionSix ul .cartItems h4 {
  padding-left: 15px;
  margin-bottom: 10px;
}
.sectionSix ul .cartItems .imgcontainer {
  width: 160px;
  margin: 0 auto;
}
.sectionSix ul .cartItems .imgcontainer img {
  display: block;
  width: 100%;
  margin-bottom: 22px;
}

.subscribe {
  background: linear-gradient(180deg, #127FFF 0%, #0067FF 100%);
  width: 110px;
  height: 40px;
  color: white;
  border-radius: 6px;
  gap: 10px;
  cursor: pointer;
}
.subscribe:hover {
  opacity: 0.5;
}

.services {
  margin: 0 auto;
  width: 90%;
  overflow-x: scroll;
}
.services::-webkit-scrollbar {
  display: none;
}
.services h2 {
  margin-bottom: 20px;
}
.services .container {
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.services .container li {
  border: 1px solid #E0E0E0;
  border-radius: 6px;
  position: relative;
}
.services .container .contain {
  position: relative;
}
.services .container .images {
  height: 164px;
  right: 0px;
  background: black;
}
.services .container .icon {
  position: absolute;
  position: absolute;
  right: 40px;
  bottom: 75px;
  background-color: #DEE2E7;
  border-radius: 50%;
  padding: 17px;
}
.services .container .ellipse {
  position: absolute;
  bottom: 75px;
  right: 40px;
}
.services .container p {
  font-size: 21px;
  padding: 20px 10px 30px 20px;
  width: 85%;
}

.seven {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  height: 270px;
  background-color: #E0E0E0;
}
.seven .inputsection {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.seven .inputsection .input {
  border: 1px solid black;
  padding: 11px 20px;
  border-radius: 6px;
  margin: 0 auto;
}

footer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  cursor: pointer;
  padding-top: 20px;
}
footer .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
footer .medias {
  display: flex;
  gap: 10px;
}
footer p {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}
footer li {
  margin-bottom: 10px;
}
footer .middle {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 50px;
}
footer .middle .mid p {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}
footer .middle .mid li {
  margin-bottom: 12px;
  color: gray;
}
footer .right {
  cursor: pointer;
}
footer .right .appstore {
  background: black;
  color: white;
  position: relative;
  padding: 10px 12px 8px 12px;
  border-radius: 6px;
}
footer .right .playstore {
  position: relative;
  background-color: black;
  color: white;
  border-radius: 6px;
  padding: 10px 12px 8px 12px;
}

.flag {
  width: 90%;
  margin: 0 auto;
}
.flag .flags .container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 60px;
}
.flag .flags .container li {
  display: flex;
  width: 180px;
}
.flag .flags .container .flex {
  display: flex;
  flex-direction: column;
}
.flag .flags .container .flex p {
  color: rgb(178, 174, 174);
}
.flag .flags .container .img-container {
  width: 50px;
}
.flag .flags .container .img-container img {
  display: block;
  width: 100%;
}
.flag .img-container {
  width: 50px;
  margin: 0 auto;
}
.flag .img-container img {
  width: 100%;
  display: block;
}
.flag h2 {
  margin: 30px 0;
}

.footersection {
  display: flex;
  justify-content: space-between;
  background-color: #e1f0ff;
  padding: 0 20px;
}

.productdetails {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 0 auto;
  width: 100%;
}

.Mens {
  display: flex;
  gap: 50px;
  width: 90%;
  margin: 0 auto;
  border: 1px solid #DEE2E7;
  padding: 30px;
  border-radius: 4px;
}
.Mens .tshirt {
  margin-bottom: 20px;
}
.Mens .tshirt .imgContainer {
  border: 1px solid #DEE2E7;
  border-radius: 4px;
}
.Mens .tshirt .imgContainer img {
  display: block;
  width: 100%;
}
.Mens .parts {
  display: flex;
  gap: 20px;
  padding-top: 20px;
  overflow-x: scroll;
}
.Mens .parts::-webkit-scrollbar {
  display: none;
}
.Mens .parts img {
  background-color: #E0E0E0;
  border: 1px solid rgb(246, 236, 236);
}
.Mens .info {
  display: grid;
  row-gap: 10px;
}
.Mens .info p {
  color: #00B517;
}
.Mens .info h4 {
  font-size: 20px;
}
.Mens .middle {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Mens .middle .rating {
  display: flex;
  gap: 10px;
}
.Mens .middle .rating h4 {
  color: #FF9017;
}
.Mens .middle .rating p {
  color: #787A80;
}
.Mens .trade {
  background: #FFF0DF;
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
  border-radius: 6px;
  width: 350px;
  margin-bottom: 20px;
}
.Mens .price :first-child {
  padding-right: 25px;
  border-right: 1px solid rgb(154, 151, 151);
  color: red;
}
.Mens .h3:last-child {
  padding-left: 25px;
  border-left: 1px solid rgb(158, 155, 155);
}
.Mens .grid-items,
.Mens col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: 80%;
  gap: 10px;
}
.Mens .grid-items p,
.Mens col p {
  color: #787A80;
}
.Mens .right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #DEE2E7;
  border-radius: 6px;
  padding: 10px 40px;
  height: 320px;
  box-shadow: 0px 1px 2px 0px rgba(56, 56, 56, 0.0784313725);
}
.Mens .right .seller-details {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}
.Mens .right .seller-details .rimg {
  width: 40px;
  height: 40px;
}
.Mens .right .seller-details .sellers {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Mens .right .seller-details .sellers p {
  font-size: 16px;
}
.Mens .right p img {
  padding-right: 20px;
}
.Mens .save {
  display: flex;
  padding: 50px;
  gap: 10px;
}
.Mens .save h3 {
  color: #0D6EFD;
  font-weight: 100;
}
.Mens .send button {
  border: 1px solid rgb(222, 226, 231);
  width: 180px;
  height: 30px;
  padding: 0px, 10px, 0px, 10px;
  border-radius: 6px;
  gap: 10px;
  color: white;
  background-color: rgb(13, 110, 253);
}
.Mens .selers button {
  border: 1px solid rgb(222, 226, 231);
  width: 180px;
  height: 30px;
  padding: 0px, 10px, 0px, 10px;
  border-radius: 6px;
  gap: 10px;
  background-color: white;
  color: rgb(13, 110, 253);
}

.prodNav ul {
  display: flex;
  gap: 50px;
  width: 50%;
  color: #8B96A5;
  border-bottom: 1px solid #DEE2E7;
}
.prodNav ul li {
  border-bottom: 1px solid #fafbfc;
  color: #8B96A5;
}
.prodNav ul li:hover {
  border-bottom: 1px solid #0D6EFD;
  color: #0D6EFD;
  cursor: pointer;
}

.description p {
  color: gray;
  font-size: 16px;
  width: 97%;
  line-height: 0.7cm;
}

.modal-grid .grid {
  display: grid;
  grid-template-columns: 30% auto;
  width: 60%;
}
.modal-grid .head,
.modal-grid .col {
  border: 0.1px solid rgb(230, 227, 227);
  padding: 10px 12px;
}
.modal-grid .head {
  background: #EFF2F4;
}

.checklist {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.checklist p {
  display: flex;
  gap: 5px;
}

.aside {
  width: 100%;
}
.aside ul {
  border: 1px solid #DEE2E7;
  border-radius: 4px;
}
.aside ul h4 {
  padding: 20px;
}
.aside ul li {
  display: flex;
  border-bottom: 1px solid #DEE2E7;
  padding: 10px 0;
}
.aside ul li .text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.aside ul li .text #ptext {
  font-size: 16px;
  color: #787A80;
  line-height: 0.7cm;
}
.aside ul li .text #itext {
  font-size: 14px;
  color: #8B96A5;
}
.aside ul li .img-container {
  width: 90px;
}
.aside ul li .img-container img {
  display: block;
  width: 100%;
}

.prod-left {
  display: flex;
  width: 90%;
  margin: 0 auto;
}
.prod-left .productdescription {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.related-products {
  width: 90%;
  margin: 0 auto;
}
.related-products ul {
  display: flex;
  justify-content: space-between;
  border: 1px solid #DEE2E7;
  padding: 30px 10px;
  border-radius: 6px;
}
.related-products ul li {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.related-products ul li .img-container {
  width: 100px;
  height: 100px;
  background-color: #DEE2E7;
}
.related-products ul li .img-container img {
  display: block;
  width: 100%;
}

.shopbutton {
  background: #FF9017;
  color: white;
  padding: 12px 16px;
  border-radius: 6px;
}
.shopbutton:hover {
  opacity: 0.5;
}

.discount {
  display: flex;
  justify-content: space-between;
  background: #005ADE;
  padding: 20px;
  width: 90%;
  margin: 0 auto;
  color: white;
  border-radius: 6px;
  position: relative;
  height: 80px;
}
.discount .content {
  width: 100%;
  position: absolute;
  padding: 15px;
  top: 0;
  bottom: 0;
  left: 0;
}
.discount .shopbutton {
  position: absolute;
  right: 10px;
}

.productCart ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 30px;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.productCart ul li {
  border: 1px solid #DEE2E7;
  border-radius: 6px;
  padding: 20px;
}
.productCart ul li .text {
  display: grid;
  grid-template-columns: auto auto;
}
.productCart ul li .text .price {
  display: flex;
  gap: 10px;
}
.productCart ul li .text .price s {
  color: #787A80;
  text-decoration: line-through;
}
.productCart ul li .text p {
  color: #606060;
}
.productCart ul li .imagecontainer {
  width: 200px;
  height: 235px;
  margin: 0 auto;
}
.productCart ul li .imagecontainer img {
  display: block;
  width: 100%;
}
.productCart ul li .flex-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.productCart ul li .flex-items img {
  display: block;
  width: 30%;
}
.productCart ul li .fav {
  width: 30px;
  height: 30px;
  padding: 5px;
  border: 1px solid #DEE2E7;
  border-radius: 6px;
  box-shadow: 0px 1px 2px 0px rgba(56, 56, 56, 0.0784313725);
}

.mobDetails {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 0 auto;
}
.mobDetails .search {
  display: none;
}
.mobDetails .middle {
  display: flex;
  width: 90%;
  margin: 0 auto;
  gap: 100px;
}
.mobDetails .middle .column-flex {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  gap: 20px;
}

.listItem {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.listItem .heading {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.listItem .floats1 {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}
.listItem .floats1 span {
  display: block;
  position: absolute;
}
.listItem h3 {
  padding: 15px 0;
  font-size: 16px;
}
.listItem h3:first-child {
  padding-top: 0;
}
.listItem h3::before {
  padding-left: 20px;
}
.listItem .slider {
  display: flex;
}
.listItem .slider .input {
  width: 50px;
}
.listItem .price-range {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
}
.listItem .price-range span {
  border: 1px solid rgb(209, 203, 203);
  padding: 5px 8px;
  border-radius: 6px;
  width: 50px;
}
.listItem .price-range .textInput {
  border: 1px solid gainsboro;
  border-radius: 6px;
}
.listItem .price-range .textInput .inputContainer {
  padding: 2px;
}
.listItem .price-range .textInput .inputContainer .input {
  width: 50px;
  font-weight: bold;
  text-align: center;
}
.listItem ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
}
.listItem ul li {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  font-size: 15px;
}

.navbar3 {
  display: flex;
  color: #888484;
  gap: 10px;
  font-size: 16px;
  padding: 10px 10px;
  background-color: #fefefe;
  width: 90%;
  margin: 0 auto;
}
.navbar3 .breadcrumbs > * {
  display: inline-block;
}
.navbar3 .breadcrumbs .crumbs :after {
  content: ">";
  margin-left: 10px;
}
.navbar3 .breadcrumbs .crumb:last-child:after {
  display: none;
}

.navbar4 {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
  font-size: 16px;
}
.navbar4 .flexss {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar4 label {
  border: 1px solid #DEE2E7;
  border-radius: 6px;
  width: 200px;
  display: flex;
  justify-content: center;
  padding: 8px;
}
.navbar4 .imgContainer img {
  border: 1px solid #DEE2E7;
}
.navbar4 p input {
  margin-right: 10px;
}

.filter {
  display: flex;
  padding: 10px 10px;
  align-items: center;
  gap: 25px;
}
.filter ul {
  display: flex;
}
.filter li {
  display: flex;
  gap: 10px;
  border: 1px solid #0D6EFD;
  border-radius: 4px;
  padding: 2px 5px;
}
.filter .clr {
  color: #0D6EFD;
  font-size: 18px;
}

.filterItem {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.listview {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 0 auto;
}
.listview .search {
  display: none;
}
.listview .middle {
  display: flex;
  width: 90%;
  margin: 0 auto;
}
.listview .flex {
  gap: 60px;
  width: 90%;
  margin: 0 auto;
}
.listview .flex .column-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.listviewcontent ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.listviewcontent ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #DEE2E7;
  border-radius: 6px;
  padding: 10px;
}
.listviewcontent ul li .imgContainer {
  width: 150px;
  height: 180px;
}
.listviewcontent ul li .imgContainer img {
  display: block;
  width: 100%;
}
.listviewcontent ul li .content {
  display: flex;
  justify-content: space-between;
}
.listviewcontent ul li .content #content {
  font-weight: 600;
}
.listviewcontent ul li .content .fav {
  width: 30px;
  height: 30px;
  padding: 5px;
  border: 1px solid #DEE2E7;
  border-radius: 6px;
  box-shadow: 0px 1px 2px 0px rgba(56, 56, 56, 0.0784313725);
}
.listviewcontent ul li .content .items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.listviewcontent ul li .content .items #text1 {
  color: #00B517;
}
.listviewcontent ul li .content .items .price {
  display: flex;
  gap: 10px;
}
.listviewcontent ul li .content .items .price h4 {
  font-size: 20px;
}
.listviewcontent ul li .content .items .price h5 {
  font-size: 20px;
  color: #8B96A5;
  font-style: normal;
  text-decoration: line-through;
}
.listviewcontent ul li .content .rating {
  display: flex;
  align-items: center;
  gap: 20px;
}
.listviewcontent ul li .content .rating img {
  height: 10px;
}
.listviewcontent ul li .content #link {
  color: #0D6EFD;
  font-size: 16px;
}

.mycart {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.mycart .flex {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
.mycart .columnflex {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.navbar5 {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.coupon {
  border: 1px solid #DEE2E7;
  width: 280px;
  height: 110px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.coupon .box {
  margin: 0 auto;
  border-radius: 6px;
  border: 1px solid #DEE2E7;
}
.coupon .box .btn1 {
  width: 149px;
  padding: 12px 16px;
  border-right: 1px solid rgb(222, 220, 220);
}
.coupon .box .btn2 {
  width: 65px;
  padding: 12px 16px;
  color: #0067FF;
}

.checkout {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 280px;
  border: 1px solid #DEE2E7;
  border-radius: 6px;
  padding: 10px;
}
.checkout ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 1px solid whitesmoke;
}
.checkout ul li {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.checkout ul #title {
  color: #888484;
}
.checkout ul #price1 {
  color: #606060;
}
.checkout ul #price2 {
  color: red;
}
.checkout ul #price3 {
  color: #00B517;
}
.checkout .total {
  display: flex;
  justify-content: space-between;
}
.checkout .container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 10px;
}
.checkout .container .imgcontainer {
  width: 40px;
  height: 20px;
  border: 1px solid #DEE2E7;
  margin: 0 auto;
}

.checkoutbutton {
  width: 248px;
  height: 54px;
  padding: 0px 20px 0px 20px;
  border-radius: 8px;
  background: #00B517;
  color: white;
  font-size: 16px;
}
.checkoutbutton:hover {
  opacity: 0.5;
}

.cartitems {
  display: flex;
  justify-content: space-between;
}
.cartitems ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #DEE2E7;
  border-radius: 6px;
}
.cartitems ul li {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  margin-bottom: 30px;
  border-bottom: 1px solid #DEE2E7;
}
.cartitems ul li .imgcontainer {
  width: 100px;
}
.cartitems ul li .imgcontainer img {
  display: block;
  width: 100%;
}
.cartitems ul li .content {
  display: flex;
  justify-content: space-between;
  gap: 500px;
}
.cartitems ul li .content select {
  font-size: 16px;
  font-weight: bold;
}
.cartitems ul li .content .text-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cartitems ul li .content .text-items p {
  width: 350px;
  color: #8B96A5;
}
.cartitems ul li .content .text-items .buttonitems {
  display: flex;
  justify-content: space-between;
}
.cartitems ul li .content .text-items .buttonitems .btn1 {
  color: #FA3434;
  width: 90px;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}
.cartitems ul li .content .text-items .buttonitems .btn1:hover,
.cartitems ul li .content .text-items .buttonitems .btn2:hover {
  opacity: 0.6;
}
.cartitems ul li .content .text-items .buttonitems .btn2 {
  color: #005ADE;
  width: 120px;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}
.cartitems .last {
  display: flex;
  justify-content: space-between;
}
.cartitems .last .back {
  width: 159px;
  height: 40px;
  padding: 9px, 14px, 9px, 9px;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #127FFF 0%, #0067FF 100%);
}
.cartitems .last .remove {
  width: 159px;
  height: 40px;
  padding: 9px, 14px, 9px, 9px;
  border-radius: 6px;
  color: black;
  font-size: 16px;
  font-weight: 500;
  color: #0D6EFD;
}
.cartitems .left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cartitems .left p {
  color: rgb(153, 154, 155);
}

.savedItem {
  width: 90%;
  margin: 0 auto;
}
.savedItem ul {
  display: flex;
  justify-content: space-between;
}
.savedItem ul li {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #DEE2E7;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 1px 1px 2px #DEE2E7;
}
.savedItem ul li .imgcontainer {
  width: 150px;
  height: 180px;
  margin: 0 auto;
}
.savedItem ul li .imgcontainer img {
  display: block;
  width: 100%;
}
.savedItem ul li .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.savedItem ul li .content .cartbutton {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 30px;
  border-radius: 6px;
  background: rgb(234, 229, 229);
}
.savedItem ul li .content .cartbutton i {
  padding-right: 5px;
}

.deliveryItem {
  width: 80%;
  margin: 0 auto;
  padding-right: 27%;
}
.deliveryItem ul {
  display: flex;
  justify-content: space-between;
}
.deliveryItem ul li {
  display: flex;
  gap: 15px;
}
.deliveryItem ul li .text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.deliveryItem ul li .text p {
  color: #888484;
}
.deliveryItem ul li .imgcontainer {
  position: relative;
  align-items: center;
  background-color: #DEE2E7;
  padding: 25px;
  border-radius: 50%;
}
.deliveryItem ul li .imgcontainer .img1 {
  width: 50px;
}
.deliveryItem ul li .imgcontainer .img2 {
  position: absolute;
  top: 15px;
  right: 13px;
  display: block;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 1281px) and (max-width: 1440px) {
  .signin,
  .signup {
    height: 100cm;
  }
  .signin form,
  .signup form {
    top: 50px;
    left: 140px;
    width: 35%;
  }
  .navContainer .search-items {
    width: 50%;
  }
  .sectionthre,
  .sectionfour {
    width: 90%;
    margin: 0 auto;
  }
  .sectionthre .grid-container .grid-items,
  .sectionfour .grid-container .grid-items {
    width: 270px;
  }
  .threeRight,
  .fourleft {
    height: unset;
    width: 100%;
  }
  .threeRight img,
  .fourleft img {
    width: 100%;
  }
  .sectionfive {
    flex-wrap: wrap;
  }
  .sectionfive .five {
    gap: 0;
  }
  .sectionfive .formm {
    margin: 0 auto;
  }
  .sectionfive .formm .forms .form1 {
    width: 500px;
    flex-wrap: wrap;
  }
  .sectionfive .formm .forms .form1 .send {
    width: unset;
  }
  .sectionSix ul {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1051px) and (max-width: 1280px) {
  .signup,
  .signin {
    height: 150vh;
  }
  .signup form,
  .signin form {
    top: 50px;
    width: 35%;
  }
  .signup span,
  .signin span {
    font-size: 13px;
  }
  .signup P,
  .signin P {
    font-size: 18px;
  }
  .navContainer .search-items {
    width: 40%;
  }
  .bannerContainer .bannerContact {
    display: none;
  }
  .sectionfive {
    flex-wrap: wrap;
    height: 32vh;
  }
  .sectionfive .five {
    gap: 0;
  }
  .sectionfive .formm .forms .form1 .send {
    width: unset;
  }
  .sectionSix ul {
    grid-template-columns: repeat(3, 1fr);
  }
  .flag .flags .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  footer {
    flex-wrap: wrap;
  }
  .Mens {
    display: grid;
    grid-template-columns: auto auto;
  }
}
@media (min-width: 981px) and (max-width: 1050px) {
  .signup,
  .signin {
    height: 150vh;
  }
  .signup form,
  .signin form {
    top: 50px;
    left: 100px;
    gap: 0;
    width: 40%;
  }
  .navContainer {
    justify-content: space-between;
    width: 90%;
  }
  .navContainer .navbar {
    flex-wrap: wrap;
  }
  .navContainer .navbar2 {
    flex-wrap: wrap;
  }
  .navContainer .search-items {
    display: none;
  }
  .bannerContainer .bannerContact {
    display: none;
  }
  .banner1,
  .banner2 {
    height: 80px;
  }
  .sidebar ul li {
    font-size: 16px;
    line-height: 1cm;
  }
  .sectionfive {
    flex-wrap: wrap;
    height: 32vh;
  }
  .sectionfive .five {
    gap: 0;
  }
  .sectionfive .formm {
    display: none;
  }
  .sectionSix ul {
    grid-template-columns: repeat(3, 1fr);
  }
  .flag .flags .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  footer {
    flex-wrap: wrap;
  }
  .Mens {
    display: grid;
    grid-template-columns: auto auto;
  }
  .prod-left {
    flex-wrap: wrap;
  }
  .modal-grid {
    width: unset;
  }
  .prodNav ul {
    width: unset;
  }
  .forms .form1 .send {
    width: unset;
  }
  .mobDetails .filter {
    display: none;
  }
  .mobDetails .productCart ul {
    grid-template-columns: repeat(2, 1fr);
  }
  .mobDetails .navbar4 {
    flex-wrap: wrap;
  }
  .listview .flex .column-flex .filter {
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 980px) {
  .signin,
  .signup {
    height: 140vh;
  }
  .signin form,
  .signup form {
    top: 40px;
    width: 50%;
    left: 100px;
  }
  .navContainer {
    justify-content: space-between;
    width: 90%;
  }
  .navContainer .navbar {
    flex-wrap: wrap;
  }
  .navContainer .navbar2 {
    flex-wrap: wrap;
  }
  .navContainer .search-items {
    display: none;
  }
  .navbartwo {
    display: none;
  }
  .bannerContainer {
    flex-wrap: wrap;
  }
  .bannerContainer .bannerContact {
    display: none;
  }
  .sidebar ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .sidebar ul li {
    font-size: 16px;
    padding-left: 25px;
    -webkit-text-decoration: underline #989898;
            text-decoration: underline #989898;
  }
  .sectionfive {
    flex-wrap: wrap;
    height: 32vh;
  }
  .sectionfive .five {
    gap: 0;
  }
  .sectionfive .formm {
    display: none;
  }
  .sectionfive .formm {
    display: none;
  }
  .sectionSix ul {
    grid-template-columns: repeat(3, 1fr);
  }
  .flag .flags .container {
    grid-template-columns: repeat(3, 1fr);
  }
  footer {
    flex-wrap: wrap;
  }
  .Mens {
    flex-wrap: wrap;
  }
  .prod-left {
    flex-wrap: wrap;
  }
  .related-products ul {
    flex-wrap: wrap;
  }
  .prodNav ul {
    width: unset;
  }
  .modal-grid {
    width: unset;
  }
  .listview .flex .column-flex .listviewcontent ul li {
    flex-wrap: wrap;
  }
  .productCart ul {
    grid-template-columns: repeat(2, 1fr);
  }
  .navbar4 {
    flex-wrap: wrap;
  }
  .payment .details {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
  }
}
@media (min-width: 641px) and (max-width: 768px) {
  p {
    font-size: 16px;
  }
  .signup,
  .signin {
    height: 160vh;
  }
  .signup form,
  .signin form {
    width: 50%;
    gap: 0;
    top: 40px;
  }
  .signup h2,
  .signin h2 {
    font-size: 1em;
  }
  .signup h4,
  .signin h4 {
    font-size: 0.8em;
  }
  .signup span,
  .signin span {
    font-size: 13px;
  }
  .signup p,
  .signin p {
    font-size: 16px;
  }
  .bannerContainer {
    border: none;
  }
  .navContainer {
    justify-content: space-between;
    width: 90%;
  }
  .navContainer .logo {
    width: 130px;
  }
  .navContainer img {
    width: 15px;
  }
  .navContainer p {
    font-size: 13px;
  }
  .navContainer .search-items {
    display: none;
  }
  .navbartwo {
    flex-wrap: wrap;
  }
  .navbartwo .left {
    gap: 27px;
  }
  .navbartwo .right {
    display: none;
  }
  .bannerContainer {
    flex-wrap: wrap;
  }
  .bannerContainer .bannerContact {
    display: none;
  }
  li {
    font-size: 14px;
  }
  .sidebar ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: unset;
  }
  .sidebar ul li {
    font-size: 16px;
    padding-left: 25px;
    -webkit-text-decoration: underline #989898;
            text-decoration: underline #989898;
  }
  .sectionfive {
    flex-wrap: wrap;
  }
  .sectionfive .formm {
    position: unset;
    width: 100%;
  }
  .sectionfive .formm .form1 {
    display: none;
  }
  .payment .details {
    grid-template-rows: auto;
    grid-template-columns: auto;
  }
  .sectionSix ul {
    grid-template-columns: repeat(2, 1fr);
  }
  .flag .flags .container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  footer,
  .Mens,
  .prod-left {
    flex-wrap: wrap;
  }
  .related-products ul {
    flex-wrap: wrap;
  }
  .modal-grid {
    width: unset;
  }
  .prodNav ul {
    width: unset;
  }
  .listview .flex .column-flex .filter {
    display: none;
  }
  .listview .flex .column-flex .listviewcontent ul li {
    flex-wrap: wrap;
  }
  .filter {
    display: none;
  }
  .navbar4 {
    flex-wrap: wrap;
  }
  .productCart ul {
    grid-template-columns: auto;
  }
  .mobDetails footer .middle {
    gap: 50px;
  }
}
@media (min-width: 481px) and (max-width: 640px) {
  h4 {
    font-size: 14px;
  }
  h3 {
    font-size: 14px;
  }
  h2 {
    font-size: 18px;
  }
  .navContainer {
    justify-content: space-between;
    width: 90%;
  }
  .navContainer .logo {
    width: 100px;
  }
  .navContainer img {
    width: 15px;
  }
  .navContainer p {
    font-size: 13px;
  }
  .navContainer .search-items {
    display: none;
  }
  .navContainer .img_container p {
    font-size: 13px;
  }
  .navbartwo {
    flex-wrap: wrap;
  }
  .navbartwo .left {
    gap: 10px;
  }
  .navbartwo .right {
    display: none;
  }
  .bannerContainer {
    flex-wrap: wrap;
    border: none;
  }
  .bannerContainer .mask .maskinner {
    top: 20px;
    left: 10px;
  }
  .bannerContainer .bannerContact {
    display: none;
  }
  li {
    font-size: 14px;
  }
  .sidebar ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .sidebar ul li {
    font-size: 16px;
    padding-left: 25px;
    -webkit-text-decoration: underline #989898;
            text-decoration: underline #989898;
  }
  .sectionfive {
    flex-wrap: wrap;
  }
  .sectionfive .five {
    gap: 0;
  }
  .sectionfive .formm {
    position: unset;
    margin: 0 auto;
  }
  .sectionfive .formm .form1 {
    display: none;
  }
  .sectionSix {
    width: 100%;
  }
  .sectionSix ul {
    grid-template-columns: repeat(2, 1fr);
  }
  .sectionSix ul .cartItems {
    width: unset;
  }
  .seven .left .logoContainer img {
    width: 130px;
  }
  .flag .flags .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  footer,
  .Mens,
  .prod-left {
    flex-wrap: wrap;
    border: none;
  }
  .related-products ul {
    flex-wrap: wrap;
  }
  .Mens .info h4 {
    font-size: 16px;
  }
  .modal-grid {
    width: unset;
  }
  .discount {
    height: 120px;
  }
  .discount .shop {
    top: 60px;
  }
  .mycart .navbar5 img {
    width: 100px;
    height: 60px;
  }
  .mycart .navbar5 .navActions ul li img {
    width: 25px;
    height: 20px;
  }
  .mycart .navbar5 .navActions ul li p {
    font-size: 14px;
  }
  .mycart .mobDetails .middle .listItem {
    display: none;
  }
  .mycart .mobDetails .search {
    border: 1px solid #DEE2E7;
    padding: 12px 16px;
  }
  .mycart .flex {
    flex-wrap: wrap;
  }
  .mycart .flex .cartitems ul {
    flex-wrap: wrap;
  }
  .mycart .flex .cartitems ul li {
    flex-wrap: wrap;
  }
  .mycart .flex .cartitems ul li .content {
    gap: 10px;
  }
  .mycart .savedItem ul {
    flex-wrap: wrap;
  }
  .mycart .savedItem ul li .content button {
    width: 50%;
  }
  .mycart .deliveryItem ul {
    flex-wrap: wrap;
    gap: 20px;
  }
  .listview .middle {
    flex-wrap: wrap;
  }
  .listview .flex .column-flex .listviewcontent ul li {
    flex-wrap: wrap;
  }
  .productCart ul {
    grid-template-columns: repeat(1, 1fr);
  }
  .navbar4 {
    flex-wrap: wrap;
  }
  .navbar4 .flexss {
    flex-wrap: wrap;
  }
  .navbar4 label {
    justify-content: flex-start;
  }
  .mobDetails footer .middle {
    gap: 30px;
  }
}
@media (min-width: 361px) and (max-width: 480px) {
  h4 {
    font-size: 14px;
  }
  h2 {
    font-size: 18px;
  }
  .payment {
    width: 100%;
  }
  .navContainer .logo {
    width: 100px;
  }
  .navContainer img {
    width: 15px;
  }
  .navContainer p {
    font-size: 12px;
  }
  .navContainer .search-items {
    display: none;
  }
  .navActions ul li p {
    font-size: 12px;
  }
  .navbartwo {
    display: none;
  }
  .bannerContainer {
    flex-wrap: wrap;
    border: none;
  }
  .bannerContainer .bannerContact {
    display: none;
  }
  .bannerContainer .sectionSale .count {
    border: none;
  }
  .bannerContainer .mask .maskinner {
    top: 20px;
    left: 10px;
  }
  .bannerContainer .mask .maskinner h1 {
    font-size: 16px;
  }
  .bannerContainer .mask .maskinner .learnbutton {
    width: unset;
    height: 30px;
  }
  li {
    font-size: 14px;
  }
  .sidebar ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .sidebar ul li {
    font-size: 16px;
    padding-left: 25px;
    -webkit-text-decoration: underline #989898;
            text-decoration: underline #989898;
  }
  .sectionfive {
    flex-wrap: wrap;
    display: none;
  }
  .sectionfive .formm .forms .form1 {
    display: none;
  }
  .sectionSix {
    width: unset;
    background-color: white;
  }
  .sectionSix h3 {
    text-align: center;
  }
  .sectionSix ul {
    grid-template-columns: repeat(1, 1fr);
  }
  .sectionSix ul a {
    margin: 0 auto;
  }
  .sectionSix ul .cartItems {
    width: 240px;
  }
  .seven {
    background-color: white;
  }
  .seven .left .logoContainer img {
    width: 130px;
  }
  .flag {
    margin: 0 auto;
  }
  .flag h2 {
    text-align: center;
  }
  .flag .flags .container {
    grid-template-columns: repeat(2, 1fr);
    padding-left: unset;
    margin: 0 auto;
  }
  footer {
    flex-wrap: wrap;
  }
  footer .middle {
    grid-template-columns: repeat(2, 1fr);
  }
  .footersection {
    background-color: white;
  }
  .Mens {
    flex-wrap: wrap;
    border: none;
    padding: 0;
  }
  .Mens .tshirt {
    border: none;
  }
  .Mens .tshirt .imgContainer {
    border: none;
  }
  .Mens .tshirt .imgContainer img {
    width: unset;
  }
  .Mens .info h4 {
    font-size: 16px;
  }
  .Mens .parts {
    flex-wrap: wrap;
  }
  .Mens .grid-items {
    width: unset;
  }
  .prod-left {
    flex-wrap: wrap;
  }
  .related-products ul {
    flex-wrap: wrap;
  }
  .Mens .info h4 {
    font-size: 16px;
  }
  .modal-grid {
    width: unset;
  }
  .discount {
    height: 140px;
  }
  .discount .shop {
    top: 100px;
  }
  .mycart {
    border: none;
  }
  .mycart .navbar5 img {
    width: 100px;
    height: 60px;
  }
  .mycart .navbar5 .navActions ul li img {
    width: 25px;
    height: 20px;
  }
  .mycart .navbar5 .navActions ul li p {
    font-size: 14px;
  }
  .mycart .flex {
    flex-wrap: wrap;
  }
  .mycart .flex .cartitems ul {
    flex-wrap: wrap;
  }
  .mycart .flex .cartitems ul li {
    flex-wrap: wrap;
  }
  .mycart .flex .cartitems ul li .content {
    gap: 10px;
    flex-wrap: wrap;
  }
  .mycart .savedItem ul {
    flex-wrap: wrap;
  }
  .mycart .savedItem ul li .content button {
    width: 50%;
  }
  .mycart .deliveryItem ul {
    flex-wrap: wrap;
    gap: 20px;
  }
  .listview .flex {
    flex-wrap: wrap;
  }
  .listview .flex .listItem {
    width: 100%;
  }
  .listview .flex .column-flex .filter {
    display: none;
  }
  .listview .flex .column-flex .listviewcontent ul li {
    flex-wrap: wrap;
  }
  .productCart ul {
    grid-template-columns: repeat(1, 1fr);
  }
  .navbar3 {
    flex-wrap: wrap;
  }
  .navbar4 {
    flex-wrap: wrap;
  }
  .navbar4 .flexss {
    flex-wrap: wrap;
  }
  .navbar4 label {
    justify-content: flex-start;
  }
  .filter {
    display: none;
  }
  .mobDetails .middle {
    flex-wrap: wrap;
  }
  .mobDetails .middle .listItem {
    width: 100%;
  }
  .mobDetails footer .middle {
    gap: 30px;
  }
}
@media (min-width: 321px) and (max-width: 360px) {
  #root {
    width: 100%;
  }
  h4 {
    font-size: 14px;
  }
  h2 {
    font-size: 20px;
  }
  .signin p {
    font-size: 16px;
  }
  h1 {
    font-size: 16px;
  }
  .navContainer {
    width: unset;
  }
  .navContainer .logo {
    width: 100px;
  }
  .navContainer img {
    width: 15px;
  }
  .navContainer p {
    font-size: 12px;
  }
  .navContainer .search-items {
    display: none;
  }
  p {
    font-size: 15px;
  }
  .navbartwo {
    display: none;
  }
  .bannerContainer {
    flex-wrap: wrap;
    width: unset;
    border: none;
  }
  .bannerContainer .mask .maskinner {
    top: 20px;
    left: 10px;
  }
  .bannerContainer .mask .learnbutton {
    height: 30px;
    width: unset;
  }
  .bannerContainer .bannerContact {
    display: none;
  }
  li {
    font-size: 14px;
  }
  .sidebar ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .sidebar ul li {
    font-size: 14px;
    padding-left: 25px;
    -webkit-text-decoration: underline #989898;
            text-decoration: underline #989898;
  }
  .sectionfour,
  .sectionthre {
    flex-wrap: wrap;
  }
  .sectionfour .grid-container,
  .sectionthre .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .sectionfour .grid-container .grid-items,
  .sectionthre .grid-container .grid-items {
    width: 290px;
  }
  .sectionfive {
    display: none;
  }
  .sectionSix {
    width: unset;
    background-color: white;
  }
  .sectionSix ul {
    grid-template-columns: repeat(1, 1fr);
  }
  .sectionSix ul .cartItems {
    width: 260px;
  }
  .seven {
    background-color: white;
  }
  .seven .left .logoContainer img {
    width: 130px;
  }
  .services .container p {
    padding: 10px;
  }
  .flag .flags .container {
    grid-template-columns: repeat(2, 1fr);
  }
  .flag .flags .container .flex {
    width: 220px;
  }
  footer {
    flex-wrap: wrap;
  }
  footer .middle {
    grid-template-columns: repeat(2, 1fr);
  }
  .footersection {
    background-color: white;
  }
  .payment {
    width: 100%;
    padding: 10px;
    margin: 20px;
  }
  .payment .details {
    grid-template-columns: auto;
  }
  .Mens {
    flex-wrap: wrap;
    border: none;
    padding: 0;
  }
  .Mens .tshirt {
    border: none;
  }
  .Mens .tshirt .imgContainer {
    border: none;
  }
  .Mens .tshirt .imgContainer img {
    width: unset;
  }
  .Mens .info h4 {
    font-size: 16px;
  }
  .Mens .parts {
    flex-wrap: wrap;
  }
  .Mens .grid-items {
    width: unset;
  }
  .prod-left {
    flex-wrap: wrap;
  }
  .related-products ul {
    flex-wrap: wrap;
  }
  .prodNav ul {
    width: unset;
    gap: 10px;
  }
  .modal-grid {
    width: unset;
  }
  .Mens .info h4 {
    font-size: 16px;
  }
  .modal-grid {
    width: unset;
  }
  .discount {
    height: 140px;
  }
  .discount .shop {
    top: 100px;
  }
  .mycart .navbar5 img {
    width: 100px;
    height: 40px;
  }
  .mycart .navbar5 .navActions ul li img {
    width: 30px;
    height: 15px;
  }
  .mycart .navbar5 .navActions ul li p {
    font-size: 14px;
  }
  .mycart .flex {
    flex-wrap: wrap;
  }
  .mycart .flex .cartitems ul {
    flex-wrap: wrap;
  }
  .mycart .flex .cartitems ul li {
    flex-wrap: wrap;
  }
  .mycart .flex .cartitems ul li .content {
    flex-wrap: wrap;
    gap: 10px;
  }
  .mycart .savedItem ul {
    flex-wrap: wrap;
  }
  .mycart .savedItem ul li .content button {
    width: 50%;
  }
  .mycart .deliveryItem ul {
    flex-wrap: wrap;
    gap: 20px;
  }
  .listview .flex {
    flex-wrap: wrap;
  }
  .listview .flex .listItem {
    width: 100%;
  }
  .listview .flex .column-flex .filter {
    display: none;
  }
  .listview .flex .column-flex .listviewcontent ul li {
    flex-wrap: wrap;
  }
  .productCart ul {
    grid-template-columns: repeat(1, 1fr);
  }
  .navbar3 {
    flex-wrap: wrap;
  }
  .navbar4 {
    flex-wrap: wrap;
  }
  .navbar4 .flexss {
    flex-wrap: wrap;
  }
  .navbar4 label {
    justify-content: flex-start;
  }
  .listview .middle {
    flex-wrap: wrap;
  }
  .listviewcontent ul li {
    flex-wrap: wrap;
  }
  .listviewcontent ul li .content {
    flex-wrap: wrap;
  }
  .emptycart {
    padding-left: unset;
  }
  .mobDetails .middle {
    flex-wrap: wrap;
  }
  .mobDetails .middle .listItem {
    width: 100%;
  }
  .mobDetails footer .middle {
    gap: 30px;
  }
}
@media (max-width: 641px) {
  .signup,
  .signin {
    background: none;
  }
  .signup form,
  .signin form {
    width: 100%;
    box-shadow: none;
    top: 30px;
    left: 0px;
    gap: 0;
  }
  .signup .error,
  .signin .error {
    font-size: 12px;
  }
  .signup p,
  .signin p {
    font-size: 1em;
  }
  .signin span {
    font-size: 13px;
  }
  .alert .alert-container {
    border-radius: none;
    margin-top: 20%;
  }
}
.emptycart {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  display: flex;
  padding-left: 25%;
}
.emptycart h1 {
  color: #00adbb;
  font-weight: bold;
}
.emptycart .image-container {
  width: 650px;
  box-shadow: 1px 1px solid black;
}
.emptycart .image-container img {
  width: 100%;
  display: block;
}
.emptycart .payment .details {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  margin: unset;
}

@media (min-width: 280px) and (max-width: 320px) {
  h2 {
    font-size: 0.95em;
  }
  h4 {
    font-size: 17px;
  }
  .signin .form1 {
    gap: 20px;
    padding: 35px 0;
  }
}
@media (min-width: 1441px) {
  .signin,
  .signup {
    height: 150vh;
  }
  .signin form,
  .signup form {
    top: 90px;
    width: 33%;
  }
}
@media (max-width: 1281px) {
  .mycart .flex {
    flex-wrap: wrap;
  }
  .mycart .deliveryItem {
    padding: unset;
  }
  .mycart .savedItem ul {
    flex-wrap: wrap;
  }
  .mycart .cartitems ul li .content {
    gap: 100px;
  }
}
@media (max-width: 980px) {
  .mycart .cartitems ul li .content {
    flex-wrap: wrap;
    gap: 50px;
  }
  .mycart .deliveryItem {
    font-size: 13px;
  }
}
.hamburger {
  display: none;
}
.hamburger .hamburgercontent {
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: rgb(205, 199, 199);
  gap: 20px;
  padding: 0 0 20px 0;
}
.hamburger .hamburgercontent .top {
  background: #e6d9d9;
  padding: 10px;
}
.hamburger .hamburgercontent .middle {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 5px;
  padding: 0 10px;
  border-bottom: 1px solid rgb(231, 226, 226);
}
.hamburger .hamburgercontent .middle p {
  display: flex;
  gap: 20px;
}
.hamburger .hamburgercontent .bottom {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  gap: 15px;
  border-bottom: 1px solid rgb(231, 226, 226);
}
.hamburger .hamburgercontent .bottom p {
  display: flex;
  gap: 15px;
}
.hamburger .hamburgercontent p {
  padding: 0 10px;
}
.hamburger #check {
  display: none;
}
.hamburger .open-menu,
.hamburger .close-menu {
  position: absolute;
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}
.hamburger .open-menu {
  top: 30px;
  right: 20px;
  transform: translateY(-50%);
}
.hamburger .close-menu {
  right: 20px;
}
.hamburger #check {
  display: none;
}
.hamburger #check:checked ~ .hamburgercontent {
  right: 0;
}

@media (max-width: 767px) {
  .mycart .deliveryItem ul {
    flex-wrap: wrap;
  }
  .navContainer,
  .navbar5,
  .navbartwo {
    display: none;
  }
  .bannerContainer {
    margin-top: 40px;
  }
  .emptycart .image-container {
    width: 300px;
  }
  .hamburger {
    display: block;
    display: flex;
    justify-content: flex-end;
    margin-left: 50%;
    width: 50%;
    position: absolute;
  }
  .hamburger a {
    color: black;
  }
  .hamburger .hamburgercontent {
    width: 100%;
  }
  .hamburger .hamburgercontent .last {
    padding-left: 16px;
  }
  .hamburger #check:checked .hamburgercontent {
    display: block;
  }
  .hamburger .open-menu,
  .hamburger .close-menu {
    display: block;
  }
  .hamburger #check :checked ~ .hamburgercontent {
    right: 0;
  }
}
.notfound {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  font-size: 20px;
  color: black;
  margin: 0 auto;
  padding: 10% 0;
}
.notfound .back-to-login {
  background: linear-gradient(180deg, #127FFF 0%, #0067FF 100%);
  height: 40px;
  padding: 0px 20px 0px 20px;
  color: white;
  border-radius: 6px;
}

.payment {
  width: 70%;
  background: white;
  margin: 0 auto;
  border: 1px solid #eaedf1;
  padding: 30px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  border: 1px solid rgb(9, 163, 163);
}
.payment h3 {
  margin-bottom: 30px;
}
.payment .details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 20px;
}
.payment .details .input {
  border: 1px solid #DEE2E7;
  padding: 10px;
  border-radius: 6px;
  width: 100%;
  font-size: 15px;
}
.payment .details textarea {
  border: 1px solid #DEE2E7;
  padding: 10px;
  border-radius: 6px;
}
.payment .details select {
  color: #888484;
}
.payment .details select option {
  padding-bottom: 15px;
  font-size: 15px;
}
.payment .details input::-webkit-inner-spin-button,
.payment .details input ::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.payment .place-order {
  background-color: #127FFF;
  color: white;
  padding: 10px 12px;
  align-self: flex-end;
  border-radius: 6px;
  font-size: 16px;
}
.payment .place-order:hover {
  opacity: 0.5;
}
.payment .shipping-details {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 30px;
}
.payment .shipping-details .shipping label {
  display: flex;
  gap: 10px;
  padding: 10px 0;
}
.payment .shipping-method {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.payment .shipping-method .method {
  background-color: #ebecee;
  border-radius: 4px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.payment .shipping-method .method b {
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}
.payment .shipping-method .method .pay {
  display: flex;
  justify-content: space-between;
}
.payment .payment-method {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.payment .payment-method .card {
  background-color: #DEE2E7;
  border-radius: 6px;
  padding: 30px;
}
.payment .payment-method .card ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.payment .payment-method .card ul li .img-container {
  margin-top: 30px;
}
.payment .payment-method .card ul li .img-container img {
  display: block;
  width: 100%;
}
.payment .payment-method .card .creditcard {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 20px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.payment .payment-method .card .creditcard li .input {
  border: 1px solid #DEE2E7;
  padding: 10px;
  border-radius: 6px;
  width: 100%;
  font-size: 15px;
}
.payment .payment-method .card .creditcard li input::-webkit-inner-spin-button,
.payment .payment-method .card .creditcard li input ::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.payment .payment-method .pay {
  background-color: #127FFF;
  color: white;
  padding: 10px 12px;
  align-self: flex-end;
  border-radius: 6px;
  width: 30%;
  font-size: 16px;
}
.payment .payment-method .pay:hover {
  opacity: 0.5;
}
.payment .payment-method .input {
  border: 1px solid #DEE2E7;
  padding: 10px;
  border-radius: 6px;
  width: 100%;
  font-size: 15px;
  margin-top: 30px;
}/*# sourceMappingURL=index.css.map */